{% extends "oscar/base.html" %}
{% load staticfiles %}
{% load basket_tags %}
{% load category_tags %}
{% load product_tags %}
{% load attribute_tags %}
{% load i18n %}
{% block styles %}
    {% comment %}
        If you are developing Oscar's CSS, or overriding Oscar's CSS
        files in your project, then set OSCAR_USE_LESS = True in your
        settings file. This will enable the on-the-fly less compiler.
    {% endcomment %}
    {% if use_less %}
        <link rel="stylesheet/less" type="text/css" href="{% static "oscar/less/styles.less" %}" />
    {% else %}
        <link rel="stylesheet" type="text/css" href="{% static "oscar/css/styles.css" %}" />
    {% endif %}
{% endblock %}

{% block layout %}
    {# Top-horizontal bar with account, notifictions, dashboard links #}
    {% include "oscar/partials/nav_accounts.html" %}

    {# Site logo/title, mini-basket, browse dropdown and searchbox #}
    <header class="header container-fluid">
        {% block navigation %}
            {% include "oscar/partials/nav_primary.html" %}
        {% endblock %}
    </header>

    {# Main content of page - other layout templates may override this block #}
    {% block content_wrapper %}
    <div class="container-fluid page">
        <div class="page_inner">
            {% block breadcrumbs %}{% endblock %}
            <div class="row">
                <aside class="sidebar col-sm-4 col-md-3">
                    {% category_tree as tree_categories %}
                    {% if tree_categories %}
                        <div class="side_categories">
                            <h4> Question Types </h4>
                            <div id="theTree"></div>
                                <button id="btnCheckAll" class="btn btn-default">
                                  Check All
                                </button>
                                <button id="btnUncheckAll" class="btn btn-default">
                                  Uncheck All
                                </button>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <button id="btnSaveState" class="btn btn-default">
                                  Save State
                                </button>
                                <button id="btnRestoreState" class="btn btn-default">
                                  Restore State
                                </button>
                                  
                                <div id="tvChkStatus"></div>
                            <!-- <ul class="nav nav-list">
                                {% for tree_category in tree_categories %}
                                    <li>
                                        <a href="{{ tree_category.url }}">
                                            {% if tree_category.pk == category.pk %}
                                                <strong>{{ tree_category.name }}</strong>
                                            {% else %}
                                                {{ tree_category.name }}
                                            {% endif %}
                                        </a>

                                        {% if tree_category.has_children %}
                                            <ul>
                                        {% else %}
                                            </li>
                                        {% endif %}
                                        {% for n in tree_category.num_to_close %}
                                            </ul></li>
                                        {% endfor %}
                                {% endfor %}
                            </ul> -->
                        </div>
                    {% endif %}
                    {% attributes as attributes_list %}
                    {% if attributes_list %}
                        <div class="side_categories">
                            <h4> Question Topics </h4>
                            <ul class="nav nav-list">
                                {% for attribute in attributes_list%}
                                    <li>
                                        {{ attribute.name }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    {% if has_facets %}
                        <div class="side_categories">
                            {% for field, data in facet_data.items %}
                                {% if data.results %}
                                    {% include 'oscar/search/partials/facet.html' with name=data.name items=data.results %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </aside>

                <div class="col-sm-8 col-md-9">
                    {% include "oscar/partials/alert_messages.html" %}

                    {% block content %}
                        {% if products %}
                            <section>
                                <div>
                                    <ol class="row">
                                        {% for product in products %}
                		                {% render_product product forloop.counter %}
                                        {% endfor %}
                                    </ol>
                                    {% include "oscar/partials/pagination.html" %}
                                </div>
                            </section>
                        {% else %}
                            <p class="nonefound">{% trans "No products found." %}</p>
                        {% endif %}
                    {% endblock %}
                </div>

            </div><!-- /row -->
        </div><!-- /page_inner -->
    </div><!-- /container-fluid -->
    {% endblock %}

    {% include "oscar/partials/footer.html" %}
{% endblock %}

{% block cdn_scripts %}
  {{ block.super }}
  {% if use_less and debug %}
    {# Load the on-the-fly less compiler. Never do this in production. #}
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js"></script>
  {% endif %}
{% endblock %}

{# Local scripts #}
{% block scripts %}
    {{ block.super }}
    <!-- Twitter Bootstrap -->
    <script src="{% static "oscar/js/bootstrap3/bootstrap.min.js" %}"></script>
    <!-- Oscar -->
    <script src="{% static "oscar/js/oscar/ui.js" %}"></script>
{% endblock %}

{% block extrascripts %}
    {% include "oscar/partials/extrascripts.html" %}
    {{ block.super }}
{% endblock %}

{% block onbodyload %}
    {{ block.super }}
    oscar.init();
    oscar.search.init();
    var options = {
        'catalogueURL': '{% url 'catalogue:update' %}',
	'composite': '{{ composite_product.pk }}'
    };
    oscar.catalogue.init(options);
    oscar.treeview.init();
{% endblock %}
