{% extends "oscar/layout_coreui.html" %}
{% load staticfiles %}
{% load basket_tags %}
{% load category_tags %}
{% load product_tags %}
{% load attribute_tags %}
{% load class_tags %}
{% load i18n %}

{# Main content of page - other layout templates may override this block #}
{% block action_guidance %}
{% endblock %}
{# Main content of page - other layout templates may override this block #}
{% block content_wrapper %}
<div class="row">
    <div class="col-sm-3 col-md-3">
        <div class="card-header bg-gray-100">
            <sl-select placeholder="Select one">
                <sl-menu-item value="option-1">Option 1</sl-menu-item>
                <sl-menu-item value="option-2">Option 2</sl-menu-item>
                <sl-menu-item value="option-3">Option 3</sl-menu-item>
                <sl-menu-divider></sl-menu-divider>
                <sl-menu-item value="option-4">Option 4</sl-menu-item>
                <sl-menu-item value="option-5">Option 5</sl-menu-item>
                <sl-menu-item value="option-6">Option 6</sl-menu-item>
            </sl-select>
        </div>
        <div class="card-body bg-white">
            <div class="row col-12">
                <sl-select placeholder="Select a few" multiple>
                    <sl-menu-item value="option-1">Option 1</sl-menu-item>
                    <sl-menu-item value="option-2">Option 2</sl-menu-item>
                    <sl-menu-item value="option-3">Option 3</sl-menu-item>
                    <sl-menu-divider></sl-menu-divider>
                    <sl-menu-item value="option-4">Option 4</sl-menu-item>
                    <sl-menu-item value="option-5">Option 5</sl-menu-item>
                    <sl-menu-item value="option-6">Option 6</sl-menu-item>
                  </sl-select>
            </div>
            <div class="row">
                <sl-select placeholder="Select a few" multiple>
                    <sl-menu-item value="option-1">Option 1</sl-menu-item>
                    <sl-menu-item value="option-2">Option 2</sl-menu-item>
                    <sl-menu-item value="option-3">Option 3</sl-menu-item>
                    <sl-menu-divider></sl-menu-divider>
                    <sl-menu-item value="option-4">Option 4</sl-menu-item>
                    <sl-menu-item value="option-5">Option 5</sl-menu-item>
                    <sl-menu-item value="option-6">Option 6</sl-menu-item>
                  </sl-select>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block onbodyload %}
    {{ block.super }}
    var datas = {
        'topics': "{{ topics | safe }}",
        'types': "{{ types | safe }}"
    };
    oscar.details.init(datas);
{% endblock %}