{% extends "oscar/layout_main.html" %}
{% load staticfiles %}
{% load basket_tags %}
{% load category_tags %}
{% load product_tags %}
{% load attribute_tags %}
{% load class_tags %}
{% load i18n %}
{# Site logo/title, mini-basket, browse dropdown and searchbox #}
{% block navigation %}
	<div class="download pull-right hidden-xs">
		<a class="btn btn-default" href="{% url 'catalogue:detail' %}?pk={{ quiz.pk }}">{% trans "Done" %}</a>
	</div>
{% endblock %}
{# Main content of page - other layout templates may override this block #}
{% block content_wrapper %}
<div class="container-fluid page">
	<div class="page_inner">
		{% block breadcrumbs %}{% endblock %}
		<div class="row">
			<aside class="sidebar col-sm-4 col-md-3">
				<div class="side_categories">
					<label> Format Builder </label>
					<p id="quiz_template_">
						<label for="tlheader">Top Left Header:</label><br><br>
						<input type="text" id="side_tlheader" name="tlheader" value="{{ template.top_left }}"><br><br>
						<label for="trheader">Top Right Header:</label><br><br>
						<input type="text" id="side_trheader" name="trheader" value="{{ template.top_right }}"><br><br>
						<label for="title">Title:</label><br><br>
						<input type="text" id="side_title" name="title" value="{{ template.title }}"><br><br>
						<label for="blheader">Bottom Left Header:</label><br><br>
						<input type="text" id="side_blheader" name="blheader" value="{{ template.bottom_left }}"><br><br>
						<label for="brheader">Bottom Right Header:</label><br><br>
						<input type="text" id="side_brheader" name="brheader" value="{{ template.bottom_right }}"><br><br>
						<label for="page_num">Show/Hide Page Number:</label><br><br>
						<select name="page_num" id="side_pn">
							<option value="True">Show</option>
							<option value="False">Hide</option>
						</select><br><br>
						<input type="button" id="update_template" value="Submit">
					</p>
				</div>
			</aside>
			<div class="col-sm-8 col-md-9" id="list_product">
				<div class="printable_a4_page">
					{% include "oscar/partials/alert_messages.html" %}
					<label id="tlheader">QuizMaker</label>
					<label id="trheader">Sample Test</label><br>
					<label id="title">English Sample Test</label><br>
					{% block content %}
						{% if questions %}
							<section>
								<div>
									<ol class="row">
										{% for question in questions %}
											{% render_product question forloop.counter disable %}
										{% endfor %}
									</ol>
									{% include "oscar/partials/pagination.html" %}
								</div>
							</section>
						{% else %}
							<p class="nonefound">{% trans "No products found." %}</p>
						{% endif %}
					{% endblock %}
					<label id="blheader">QuizMaker</label>
					<label id="brheader">Sample Test</label><br>
				</div>
			</div>
		</div><!-- /row -->
	</div><!-- /page_inner -->
</div><!-- /container-fluid -->
{% endblock %}
{% block onbodyload %}
    {{ block.super }}
	var layout_info = {
		'layoutURL': '{% url 'catalogue:layout' %}',
		'template': '{{ template.pk }}'
	};
	oscar.layout.init(layout_info);
{% endblock %}