{% load reviews_tags %}
{% load image_tags %}
{% load i18n %}
{% load display_tags %}
{% load staticfiles %}

{% block product %}
<h3 class="product_pod">
    {% block product_title %}
     <div class="row">
	     <div class="col-sm-1">
		     <input class="checked_ques" id="selected_question" type="checkbox" name="selected_ques" value=""><em></em>
	     </div>
	     <div class="col-sm-11">
		     {{ index }}. {{ product.get_question }}
		     {% for answer in product.get_answers %}
		     <li>
			     {{ answer }}
		     </li>
		     {% endfor %}
	     </div>
     </div> 
    {% endblock %}

</h3>
{% endblock %}
